__tests__
.storybook
.vscode
android
ios
node_modules
src
storybook
.buckconfig
.gitattributes
.gitignore
.prettierrc.js
.watchmanconfig.js
app.json
App.tsx
babel.config.js
jest.config.js
metro.config.js
yarn.lock
yarn-error.log